<section id="portfolio" class="portfolio-section" data-aos="fade-up">
  <div class="container">
    <h2>Portfólio</h2>

    <div class="cards">
      <div
        class="card"
        *ngFor="let projeto of projetos; let i = index"
        data-aos="fade-up"
        [attr.data-aos-delay]="i * 100"
      >
        <h3>{{ projeto.titulo }}</h3>
        <p class="descricao">{{ projeto.descricao }}</p>
        <p class="tecnologias">Tecnologias: {{ projeto.tecnologias }}</p>

        <div class="card-links">
          <a [href]="projeto.linkGithub" target="_blank">
            <i class="fab fa-github"></i> Ver no GitHub
          </a>
          <a [href]="projeto.demo" target="_blank">
            <i class="fas fa-external-link-alt"></i> Ver Projeto
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
