@use "variables" as *;
@use "mixins" as *;

body {
  margin: 0;
  padding: 0;
  font-family: $font-family-base;
  font-size: $font-size-base;
  background-color: $secondary-color;
  color: $text-color;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: $highlight-color;

  &:hover {
    text-decoration: underline;
  }
}

section {
  padding: $spacing-lg $spacing-sm;
}

h2 {
  font-size: 2rem;
  margin-bottom: $spacing-sm;
  color: $highlight-color;
  text-align: center;
}
