@use "variables" as *;
@use "mixins" as *;

// 🌍 Estilos globais
body {
  margin: 0;
  padding: 0;
  font-family: $font-family-base;
  font-size: $font-size-base;
  background-color: $background-color;
  color: $text-color;
}

a {
  text-decoration: none;
  color: $primary-color;

  &:hover {
    color: $secondary-color;
  }
}
