@use "../../../styles/variables" as *;

.contato-section {
  background-color: $secondary-color;
  color: $primary-color;
  text-align: center;

  .container {
    max-width: 700px;
    margin: 0 auto;

    h2 {
      color: $primary-color;
      margin-bottom: $spacing-md;
    }

    a {
      color: $highlight-color;
      font-weight: 600;

      &:hover {
        text-decoration: underline;
      }
    }

    .social-links {
      display: flex;
      justify-content: center;
      gap: $spacing-md;
      margin-top: $spacing-sm;

      a {
        background-color: $primary-color;
        color: white;
        padding: $spacing-xs $spacing-sm;
        border-radius: $border-radius;
        transition: background 0.3s ease;

        &:hover {
          background-color: darken($primary-color, 10%);
        }
      }
    }
  }
}
